{{#ol-map}}
  {{#ol-tile-layer}}
    {{#if showOsmLayer}}
      {{ol-source-layer}}
    {{/if}}
  {{/ol-tile-layer}}
  {{ol-view center=center zoom=zoom}}
{{/ol-map}}

<button {{action "click"}}>Click Me</button>
{{outlet}}